{% extends 'base.html'%}
    {%block title%}Home {%endblock title%}

    {%block header%}
            <h1>Hello World!</h1>
            <h4>Welcome to my website!</h4>
            <h5>by: {{name}}</h5>

            {%if name == 'Moataz Hamdan'%}
                <h5>Hello</h5>
            {% else %}
                <h5>Goodbye</h5>
            {% endif %}
    {%endblock header%}

    {%block content%}
                <ul>
                    {% for country in countries %}
                        <li>{{country}}</li>
                    {% endfor %}    
                    
                </ul>
    {%endblock content%}

